ngIRCd chokes on 1-character messages (Bugzilla #83)

status CLOSED severity *normal* in component *Daemon* for *---*
Reported in version *unspecified* on platform *All*
Assigned to: Ali Shemiran

On 2008-05-01 04:25:23 +0200, Dana Dahlstrom wrote:

> When I send ngIRCd a 1-character message like "0" it should reply with something
> like "421 nick 0 :Unknown command" but instead it appears to behave in a very
> peculiar manner. I've tried several different characters including '0', '1',
> 'a', and ':', and it doesn't seem to make a difference which character I use.
> 
> I haven't written an automated test for this or looked into the reason for it. I
> suggest proceeding in that order. :)

On 2008-05-01 14:22:33 +0200, Alexander Barton wrote:

> I can't reproduce the problem you reported:
> 
> VERSION
> :a.irc.net 351 nick ngircd-0.12.0-pre2. a.irc.net
> :SYSLOG+ZLIB+IRCPLUS+IPv6-i386/apple/darwin9.2.2
> 0
> :a.irc.net 421 nick 0 :Unknown command
> 1
> :a.irc.net 421 nick 1 :Unknown command
> a
> :a.irc.net 421 nick a :Unknown command
> :
> ERROR :Prefix without command!?
> x
> :a.irc.net 421 nick x :Unknown command
> xx
> :a.irc.net 421 nick xx :Unknown command
> xxx
> :a.irc.net 421 nick xxx :Unknown command
> xxxx
> :a.irc.net 421 nick xxxx :Unknown command
> 
> Please note that ngIRCd does not send 421 before the connection is registered
> with the server, but this is not a bug but a feature :-)

On 2008-05-01 16:42:56 +0200, Dana Dahlstrom wrote:

> Example 1:
> 
> version
> :irc.bit.netz 351 nick ngircd-0.11.0. irc.bit.netz
> :SYSLOG+ZLIB+TCPWRAP+IDENT+IRCPLUS-hppa/unknown/linux-gnu
> 0
> version
> no more response from server
> 
> Example 2:
> 
> version
> :cse70.ucsd.edu 351 nick ngircd-HEAD. cse70.ucsd.edu :IRCPLUS-i486/pc/linux-gnu
> info
> :cse70.ucsd.edu 371 nick :ngircd HEAD-IRCPLUS-i486/pc/linux-gnu
> :cse70.ucsd.edu 371 nick :Server has been started Wed Apr 30 2008 at 13:33:25 (PDT)
> :cse70.ucsd.edu 374 nick :End of INFO list
> xxxx
> :cse70.ucsd.edu 421 nick xxxx :Unknown command
> xxx
> :cse70.ucsd.edu 421 nick xxx :Unknown command
> xx
> :cse70.ucsd.edu 421 nick xx :Unknown command
> x
> uh oh
> dead again
> ^C

On 2008-05-01 16:52:15 +0200, Dana Dahlstrom wrote:

> I just noticed this seems to happen when I use netcat, but not when I use
> telnet. Based on some experiments that are hard to copy and paste here, it seems
> this has something to do with the line-termination convention.

On 2008-05-01 17:25:24 +0200, Dana Dahlstrom wrote:

> Even using netcat, it works on other servers.
> 
> Example 1:
> 
> version
> :swiftco.wa.us.dal.net 351 nick_ bahamut-1.8(04). swiftco.wa.us.dal.net
> :aABCdEFhiMstTY/p TS5ow RPL1 NP[kLU]
> 0
> :swiftco.wa.us.dal.net 421 nick_ 0 :Unknown command
> works here
> :swiftco.wa.us.dal.net 421 nick_ works :Unknown command
> ^C
> 
> version
> :irc.SHOUTcast.com 351 foonick ircd-ratbox-2.2.8(20080111_7-24916).
> irc.SHOUTcast.com :egGIKMpZ TS6ow 6SC
> :irc.SHOUTcast.com 005 foonick CHANTYPES=&# EXCEPTS INVEX
> CHANMODES=eIb,k,l,imnpst CHANLIMIT=&#:50 PREFIX=(ov)@+ MAXLIST=beI:100
> NETWORK=EFNet MODES=4 STATUSMSG=@+ KNOCK CALLERID=g :are supported by this server
> :irc.SHOUTcast.com 005 foonick SAFELIST ELIST=U CASEMAPPING=rfc1459
> CHARSET=ascii NICKLEN=9 CHANNELLEN=50 TOPICLEN=160 ETRACE CPRIVMSG CNOTICE
> DEAF=D MONITOR=60 :are supported by this server
> :irc.SHOUTcast.com 005 foonick
> TARGMAX=NAMES:1,LIST:1,KICK:1,WHOIS:1,PRIVMSG:10,NOTICE:10,ACCEPT:,MONITOR: :are
> supported by this server
> a
> :irc.SHOUTcast.com 421 foonick a :Unknown command
> works here too
> :irc.SHOUTcast.com 421 foonick works :Unknown command
> ^C

On 2008-05-02 00:09:21 +0200, Alexander Barton wrote:

> Part of the problem is NetCat (nc): it violates the IRC protocol specification
> in that it only sends a LF (0x0a, 10) character when hitting return instead of
> the required CR+LF (0x0d+0x0a, 13+10).
> 
> See RFC 2812 section 3.2 "Messages", 5th paragraph:
> "IRC messages are always lines of characters terminated with a CR-LF (Carriage
> Return - Line Feed) pair [...]".
> 
> So NetCat isn't an ideal "test client" for IRC; but on the other side, when not
> running in "strict RFC mode", ngIRCd should recognize message lines ending in
> only CR or LF, so there indeed is a bug, most probably inside of Handle_Buffer()
> in conn.c -- I'll have a look at it.

On 2008-05-02 01:52:43 +0200, Dana Dahlstrom wrote:

> Based on my experiments I was pretty sure line termination was the problem.
> Incidentally, see http://www.reidea.hu/netcatcrlf/

On 2008-05-02 02:20:52 +0200, Alexander Barton wrote:

> GIT commit 2a790861a133... fixes this bug and will be included in ngIRCd 0.13.
> 
> I do not intent to merge this patch into the 0.12-branch, because the bug in
> itself violates the IRC specification and only happens with 1-character commands
> (that do no exist in the protocol). Ok?

On 2008-12-26 16:07:19 +0100, Alexander Barton wrote:

> This fix is included in ngIRCd release 13.

